.Rproj.user
hugo.exe
README.md
*.Rproj
public/*
sandbox/*
.Rhistory
*.bib
.git*
.Rproj.user
static/files/citations
static/files/pdf_clean
static/files/citations/bib_to_md_v2.R
Readme_quarto.md
/.quarto/
static/html/course-microbes-2022
static/html/course-data-science-2021
static/html/course-ecology-2021
.vscode/*